
/*elementi per tutte le pagine: navbar e footer*/

/*font e titoli: aggiungere tutti i testi con la media query e anche il testo all'interno del bottone*/

/*ombre: creare le classi delle ombre*/

/*navbar*/

/*cercare di usare i rem come unità di misura, quantomeno per i testi*/

/*per non fare andare a capo le parole: white-space: nowrap; */



/* navbar*/

.navbar {
    background-color: #FFF0E3 !important;
}

.container-fluid {
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.navbar-brand img {
    width: 191px;
    height: 70px;
}

#navbarNav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

#containernav {
    width: 20%;
    height: auto;
    margin: 0; 
}

.navbar-text,
.nav-link
{
    color: #0D0C0C;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
    font-size: 0.8750em;
    white-space: nowrap;
}

.nav-link:hover{
    color: #FF8225;
}

.nav-link:active{
    color: #FF8225;
}


/*navbar toggler icon hamburger animation*/

.container-fluidHM {
    display: none;
}

@media (max-width: 992px) {
    .container-fluidHM {
        display: block;
    }
}

.container-fluidHM {
    position: relative;  /* Permette al menu dropdown di posizionarsi relativamente al bottone */
}

/* Stilizzazione base del menu dropdown */
.dropdown-menu {
    display: none; 
    position: absolute; 
    z-index: 1000;
    width: 100%;
}

/* Mostra il menu dropdown quando il bottone è in stato di focus */

.btn:focus + .dropdown-menu,
.btn:active + .dropdown-menu {
    display: block;
}

/* Stilizzazione degli elementi all'interno del menu */
.dropdown-item {
    padding: 10px 20px;  /* Aggiunge padding per un miglior spacing */
    cursor: pointer;  /* Cambia il cursore in un puntatore */
    color: #333; /* Imposta il colore del testo */
}

.dropdown-item:hover {
    background-color: #f8f9fa;  /* Cambia lo sfondo al passaggio del mouse */
}

/*end toggler icon animation*/


@media (min-width: 576px) {
    .navbar .container-fluid{
        border-radius: 1rem; 
    }
    .sl-collapse-mobile{
        border-radius: 0 0 1rem 1rem;
    }

    .nav-link {
        color: #0D0C0C;
        font-family: Quicksand, sans-serif;
        font-weight: 600;
        font-size: 0.8750em;
        white-space: nowrap;
        text-decoration: none;
        text-transform: none;
    }
    .toggler-icon{
        width: 40px;
        height: 4px;
     }
     .middle-bar{
        margin: 7px auto;
     }
     
}

/*end navbar*/


/* Home */

  #home {
    color: #FF8225;
    font-family: Unbounded, sans-serif;
}

:root {
    --custom-btn-color: #10B9C3;
    --custom-btn-border: black; 
    --rem: 16px;
    --border-primary: black;
    
}

.btn-custom {
    background-color: var(--custom-btn-color);
    border-color: var(--custom-btn-border); 
    font-family: Unbounded, sans-serif;
    font-size: 0.8750em;
    color: #F9F9F9;
    padding: 7%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0)
  }

.buttonhome {
    width: 11.8rem;
    filter:drop-shadow(7px 7px 0px rgba(0,0,0,1));
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.center-image img {
    width: 70%;
    height: 70%;
    
}

@media only screen and (max-width: 1200px) {
    .center-image img {
      max-width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    .center-image img {
      max-width: 70%; 
    }
}

@media only screen and (max-width: 768px) {
    .center-image img {
      max-width: 80%;
    }
}  
.card{
    justify-content: center;
    background-color: #BF9BD2;

}

.shape {
    clip-path: polygon(0 1%, 100% 11%, 91% 100%, 9% 100%);
    
    
     
    
}
.shape2 {
    clip-path: polygon(15% 0%, 100% 0%, 89% 100%, 0 99%);
    
    
    z-index: 0;

}
.shape1 {
    clip-path: polygon(15% 0%, 100% 0%, 89% 100%, 0 99%);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0);
    z-index: 1;
    
}
 
.vertical-line {
    border-left: 2px solid #000 !important;
    height: 2rem;
}
h2 {
    font-family: Unbounded, sans-serif;
    font-size: 3.5rem;
    color: #0D0C0C;
} 

#box {
    border: 2px solid #0D0C0C;
}

h3 {
    font-family: Unbounded, sans-serif;
    font-size: 2.0rem;
    color: #0d0d0d; 
}
p {
    font-family: quicksand, sans-serif;
    font-size: 1rem;
    color: #FDF8E9;
    font-weight: bold;
}
.stroke {
    text-shadow: 1px 1px #0D0C0C;
}
.containerfooter {
    background-color: #0D0C0C;
}

.text-muted {
    color: whitesmoke !important;
    font-family: Unbounded, sans-serif;
    font-size: 1.5rem;

}

.text-muted1 {
    color: whitesmoke !important;
    font-family: Unbounded, sans-serif;
    font-size: 1rem;
}

#terms {
    color: whitesmoke !important;
    font-family: quicksand, sans-serif;
    font-size: 1rem;
}

.link-dark {
    color:#10B9C3 !important;
}